$('#successMessage').empty();

<%if @lead.errors.any? %>
	$('#successMessage').append("<p>Please enter a valid email address</p>");
<% else %>
	$('#new_lead').hide();
	$('#successMessage').append("<p>Thanks for joining!</p>");
	$('#successMessage').removeClass('pull-left');
<%end%>