@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$font-family-sans-serif:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

#imgNot{
    vertical-align: middle;
    border: 0;
    page-break-inside: avoid;
    max-width: 100% !important;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
  
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

html,
body {
    position:relative;
    width: 100%;
    height: 100%;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.jumbotron p{
    font-size: 16px;
}

.bg-primary {
    //background-color: #f05f40;
   //background-color: #efeeed;
   background: rgb(247,247,247); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(215,215,215,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(215,215,215,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(215,215,215,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(215,215,215,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(215,215,215,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
}

.bg-show{
    background-color: #f05f40;
    color: white;
}


section {
    padding: 50px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    height: 75px;
}

.navbar-default .navbar-header .navbar-brand {
    padding: 25px 0px 15px 10px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #ed472b;
    //background: #3071A9
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #f05f40;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.navbar-right > li > a {
    color: #f05f40;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-toggle {
        margin-top: 15px;
        margin-right: 5px;
    }

@media(min-width:768px) {

    .about h1, .about p{
       color: #333333;
        padding: 20px 80px;
    }
     .col-centered {
         display:inline-block;
         float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }

    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-default .navbar-header .navbar-brand {
        //color: rgba(255,255,255,.7);
        color: rgba(240, 95, 64, 1);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #ed472b;
    }

    .navbar-default .nav > li> a,
    .navbar-default .nav>li>a:focus {
        //color: rgba(255,255,255,.7);
        margin-top: 10px;
        color: #f05f40;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        //text-transform: uppercase;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #ed472b;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }

    .btn-group{
        margin-bottom: 5px;
    }
    #priceTags{
    text-align: center;

    padding-left:10px;
    padding-right:10px;
    min-width: 40px;
}

}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: image-url("header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    //text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    color: #f05f40;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    max-height:200px;
    overflow: hidden;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

#place-details-row p, #place-details-row h2, #place-details-row h3, #place-details-row h4{
    color: white;
}

body {
    webkit-tap-highlight-color: #222;
}


/* BUTTONS CSS */

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}

.btn-toolbar .btn-group{
    float:none;
}

.btn-toolbar{
    margin-bottom: 30px;
}

.btn {
    padding: 14px 16px;
    border: 0 none;
    border-radius:0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: none;

}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    background: #afafaf;
    outline: 0 none;
}
 
.btn-primary {
    //background: #0099cc;
    background-color: #f05f40;

    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #f05f40;
}
 
.btn-primary:active, .btn-primary.active {
    background: #afafaf;
    box-shadow: none;
}

.btn-primary.outline {
    border: 1px solid #F8AFA0;
    //background-color: #f05f40;
    background-color: white;
    color: #f05f40;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #f05f40;
    background-color: white;
    border-color: #f05f40;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #afafaf;
    background-color: #afafaf;
    color: #fff;
    box-shadow: none;
}

/* END BUTTONS CSS */
.starrr { display: inline-block; }

.starrr i {
  font-size: 22px;
  padding: 0 1px;
  cursor: pointer;
  color: #ffd119;
}

#map-canvas {
    height: 300px;
    margin: 0;
    padding: 0;
  }

.portrait img {
    min-width: 100%;
}
.landscape img {
    min-height: 100%;
}

.bottomAlign{
    position: absolute;
    bottom: 2%;
    right:50%;
}

.main{
    position:relative;
    min-height:200px;
    min-width:200px;
    overflow:hidden;
}
.absolute{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.locality, .postal-code, .country-name{
    display:block;
    padding-left: 40px;
}

.gi-15x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.creater {
    left: 10px;
    bottom: 0;
    background-color: transparent;
    color: #fff;
    position: fixed;
    font-weight: 500;
    z-index: 100;
    border-top-left-radius: 0.2em;
    padding: 0.5em;
}

/* Common style */

.effect-chico {
    position: relative;
    overflow: hidden;
    margin: 0px 0px 25px 0px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.effect-chico img {
    position: relative;
    display: block;
    height: 250px;
    width: 300px;
}

.effect-chico .shag{
    position: absolute;
    top: 35px;
    right: 0px;
    height: 45px;
    width: 100px;
    background-color: #3f4141;
    opacity: 0.9;
}

.effect-chico .shag p{
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding-top: 5px;
}

.informationBox{
    width: 300;
    padding:8px;
    height:60px;
    background-color: #f05f40;
    padding: 10px 15px;

}

.informationBox h2 {
    text-align: left;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    color: white;

}
.informationBox p {
    text-align: left;
    margin: 0;
    font-size: 14px;
    //color: #666666;
    color: #ecf0f1;
    font-weight: 300;
}

.iconInformationBox{
    color: #ecf0f1;
}

@media screen and (max-width: 50em) {
    #totalVenues{
        text-align: left;
    }
    #headerEmail {
        margin-left: 30px;
        margin-right: 30px;
    }

    .about h1, .about p{
        color: #666666;
        padding: 20px 20px;
    }

    .navbar-collapse {
        background-color: white; 
    }
    .navbar-collape > li> a{
        color:#f05f40;
    }
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .effect-chico {
        display: inline-block;
        float: none;
        margin: 0px 0px 10px 0px;
    }
    .btn-group {
        margin-bottom: 5px;
        float:none;
        display: table;
        margin-left: 10px;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
    }
    .btn-group > .btn,
    .btn-group > .btn-group {
      float: none;
      display: table-cell;
      width: 1%;
    }
    .btn-group > .btn-group .btn {
      width: 100%;
    }
    .btn-group > .btn-group .dropdown-menu {
      left: auto;
    }

    #priceTags{
        //text-align: center;
        padding-left:0px;
        padding-right:0px;
        //min-width: 40px;
    }

    #priceTags .fa-gbp{
        letter-spacing: -4px;
    }
     .col-centered {
         display:block;
         float:left;
    
    }
}
/*ISOTOPE*/

#filter-display {
  font-size: 18px;
  //padding: 0.5em;
  border: 1px solid #CCC;
  color: blue;
}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  //z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

.noBox{
    display:none;
}

a:hover{
    text-decoration: none;
}

#gbp{
    font-size: 14px;
    padding-bottom: 2px;
    vertical-align: middle;
    letter-spacing: -2px;
}

.second-button{
    float:right;
}

.priceDetailView i.fa-gbp{
    font-size: 18px;
    padding-right: 2px;
    //color: #ffd119;
}

#nearestTube{
    font-size: 18px;
}

/*test alignment*/

.row-centered {
    text-align:center;
}
.col-centered2 {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

/* visual styles */

[class*="col-"]:before {
    display:block;position:relative;
    //content:"COLUMN";
    //margin-bottom:8px;
    font-family:sans-serif;
    font-size:10px;
    letter-spacing:1px;
    //color:#658600;
    text-align:left;
}
.itemAlign {
    width:100%;
    height:100%;
}

/* content styles */
.itemAlign {
    display:table;
}

/* end test*/

.about{
    background-color: white;
}

#chevronMain{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#email{
    line-height: 30px;
    padding:24px 15px;
}

.backgroundBar{
    margin-left: 10px;
    position: relative;
    width:120px;
    height:30px;
    background-color: white;
    border:1px solid white;
}
.bar {
    background-color: #ffd119;
    height:28px;
}
.percentage{
    color:black;
    position:absolute;
    left:46%;
    top: 3px;
    font-size: 16px;
}
.percentage p{
        color: #3f4141;
}

#fbContainer {            
    height: 34px !important;
    width: 75px !important;
    overflow: hidden !important;
    //border: solid 1px red !important;
    float: left;
}

.fb-like {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);

    margin-top:5px;
    margin-left: 13px;
    /* the short way of doing this is margin: 25px auto; */
}

.buttonHeader{
    color:#555555;
    padding:0;
    opacity: 0.9;
    margin: 10px 0 10px 7px;
    font-size: 16px;

}
.form-control{
    font-size:18px;
}

#citymapper {
    background-color: #3CAA35;
    white-space: normal;
    margin-bottom: 30px;
    //padding:5px;
}





