<div class="container" style="padding-left:0px;">
  <div class="row row-centered grid" style="margin:0 auto;">
    <% @places.each_with_index do |place, idx| %>
    <div class="venue col-xs-6 col-centered2 col-fixed grid-item <%=place.dateType%> <%= place.drinksOrFood%>" data-postcode="<%=place.postcode%>" data-chancetotalk="<%=place.changeToTalk%>" data-price="<%=place.price%>" data-impress="<%=place.impressed%>" data-romance="<%=place.romance%>" style="">
      <div class="itemAlign effect-chico" id="postcodeFilter" data-link="<%= place_path(place) %>" style="">
        <%= link_to place_path(place) do %>
        <img class="lazy" data-src="<%=place.imageUrl%>" src="" alt="<%=place.name%>"/>

        <div class="shag"><p><i class="fa fa-heart-o"></i> <%=place.rating%>%</p></div>
        <div class="informationBox">
          <h2><%= place.name.titleize %></h2>
          <p>
            <span class="" style="padding-right:10px;"><i class="iconInformationBox fa fa-glass"></i> <%=place.typePlace%></span>
            <span class="" style="padding-right:10px;"><i class="iconInformationBox fa fa-lg fa-map-marker"></i> <%=place.postcode%></span> 
            <span class=" priceID" data-price="<%=place.price%>"></span>
          </p>
        </div>  
        <% end %>
      </div><!--itemAlign--> 
    </div><!--col-->
    <%# if((idx+1) % 6 == 0)%>
      <!-- <div class="row" style="width:100%; background-color:green; margin:0px; padding:0px;">
        <div class="col-md-12 text-center" id="">
          <h2>Your ad here? Get in contact now!</h2>
         </div> --> <!--col-md-11-->
       <!-- </div> --><!-- nested row-->
    <%# end %>
    <% end %>
  </div><!--row centered-->
</div><!-- container-->