
  </head>
  <body id="" class="<%= controller_name %> <%= action_name %>">
    <main role="main">
      <%= render 'layouts/messages' %>
    </main>

    <%= render 'layouts/navigation' %>  <section class="bg-show" id="">
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2 about" style="">
  		<h1>The Story behind</h1>
      <p>Two years ago I got relocated to London due to my work for TomTom, a chance I was happy to take. In one of the world's most vibrant cities it was easy to adjust: meeting new friends, finding a new home and discovering new places. After all, a city like London has much to offer.<br><br>

      Then, I got a date. <br><br>

      Finding a suitable place to take your first date should be the least of your problems. However, at that time I felt like the city had turned against me; even the most logical source of knowledge (the internet) couldn't help me out. After complaining to my friends, it turned out that I had been searching in the wrong place; they were happy to assist me with a list of restaurants, bars and other places they had taken their dates to. Big thanks to <a href="https://nl.linkedin.com/in/joostroes" target="_blank" style="font-weight:bold;">Joost</a> and <a href="https://uk.linkedin.com/in/frankdj" target="_blank" style="font-weight:bold;">Frank</a> and Excel sheet was born. <br><br>

      Every time one of us went on a date we updated the list and even started rating places on so many different variables. More friends came to know about our list and then it clicked me: “why not share this with the world?” and so <span style="color:#f05f40; font-weight:700;">Where To Take Your Date</span> was born. <br><br>

      <span style="color:#f05f40; font-weight:700;">Where To Take Your Date</span> is the list of all good places you can take your date to, and is in essence still what it started as: an advice from man to man, from friend to friend, rated by a ‘fellow bro’. The places which were not good enough didn’t make it to the list, obviously. It is not called Disaster Dates. <br><br>

      I bootstrapped the website in just a few weekends and evenings, fuelled by many coffees. The main goal was to get something out of the door as quickly as possible and check whether people actually want something like this. I often see startups, even entire development and design teams spending a tremendous amount of time on a new feature, however once shipped only a few people use it. Developing something new is one thing, delivering and actually launching is a completely different story. <br><br>

      The short amount of time and limited resources forced me to focus on only the most important features. Being able to making decisions carefully yet quickly considering multiple perspectives. and launch as quickly as possible. Most of <span style="color:#f05f40; font-weight:700;">Where To Take Your Date</span> is automated, so it will not require much maintenance in near future. That will give me more time to focus on the next big step: <span style="color:#f05f40; font-weight:700;">Growth.</span><br><br>

      As <span style="color:#f05f40; font-weight:700;">Where To Take Your Date</span> is in this very early stage I am very open to new ideas and suggestions that would improve or monetise the website. Send me a tweet, drop me message, and let’s take it from there.
      <br><br></p>

        <div class="col-md-4 col-md-offset-4">
          <%= image_tag("rikvandonselaar_small.jpg", :alt => "Rik van Donselaar", :class => "img-circle", :style => "display:inline-block;") %>
          <a href="https://twitter.com/rikvandonselaar" target="_blank" style="margin:0 auto; font-weight:bold;">@RikvanDonselaar</a></p>
        </div>
      </div><!--col md 8 -->
    </div> <!--row-->
  </section>
  <div class='creater'>
  <a class="btn btn-default" href="https://www.facebook.com/wheretotakeyourdate?_rdr=p" role="button" style="background-color:#3B5998;" target="_blank"><i class="fa fa-lg fa-facebook" style="color:white;"></i></a>
  <a class="btn btn-default" href="https://twitter.com/WTTYD" role="button" style="background-color:#4099FF;" target="_blank"><i class="fa fa-lg fa-twitter" style="color:white;"></i></a>
  <a class="btn btn-default" href="https://instagram.com/wheretotakeyourdate/" role="button" style="background-color:#125688;" target="_blank"><i class="fa fa-lg fa-instagram" style="color:white;"></i></a>
</div>
