<meta property="og:url"                content="<%=request.original_url%>" />
<meta property="og:site_name"          content="Where To Take Your Date - London" />
<meta property="og:title"              content="Where To Take Your date - London" />
<!-- <meta property="og:type" 			   content="website" />
 --><meta property="og:description"        content="You finally got your date sorted, but you don't know where to go? Where To Take Your Date brings you the best dating spots in London!" />
<meta property="og:image"              content="http://www.wheretotakeyourdate.com/<%=image_path("social-img.jpg")%>" />
<meta property="fb:app_id"			   content="437371309793697">	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script type="text/javascript">


$( document ).ready(function() {

	jQuery("img.lazy").lazy({
		effect: "fadeIn",
		effectTime: 500,

		afterLoad: function(element) { 
		}

	});

	$(".btn").click(function() {  //use a class, since your ID gets mangled
		$(this).toggleClass('active');

	});

	$('a[href^="#"]').on('click',function (e) {
		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').stop().animate({
			'scrollTop': $target.offset().top
		}, 900, 'swing', function () {
			window.location.hash = target;
		});
	});
	$('.priceID').each(function(){
			var priceNumber = $(this).data("price")/20;
			for(var i = 0; i<priceNumber.toFixed();i++){
				$(this).append('<i class="fa fa-lg fa-gbp" id="gbp"></i>')
			}
		});

	$('.col-xs-6').each(function() {
		var cTT = $(this).data("chancetotalk")/20;
		$(this).addClass('chanceToTalk' + cTT.toFixed());
		var priceNumber = $(this).data("price")/20;
		$(this).addClass('price' + priceNumber.toFixed());
		var impressNumber = $(this).data("impress")/20;
		$(this).addClass('impress' + impressNumber.toFixed());
		var romanceNumber = $(this).data("romance")/20;
		$(this).addClass('romance' + romanceNumber.toFixed());


		var cellText = $(this).data("postcode");
		var locationString = cellText.substring(0,2);
		if (locationString.indexOf('W') > -1){
			$(this).addClass('west');    			
		}
		if (locationString.indexOf('C') > -1){
			$(this).addClass('central');    			
		} 
		if (locationString.indexOf('E') > -1){
			$(this).addClass('east');    			
		}
		if (locationString.indexOf('S') > -1){
			$(this).addClass('south');    			
		}
		if (locationString.indexOf('N') > -1){
			$(this).addClass('north');    			
		}

		if( ($(this).is('[class*="chanceToTalk5"]')) || ($(this).is('[class*="chanceToTalk4"]')) ){
			$(this).addClass("chanceToTalkHigh");
		}

		if( ($(this).is('[class*="impress5"]')) || ($(this).is('[class*="impress4"]')) ){
			$(this).addClass("impressHigh");
		}

		if( ($(this).is('[class*="romance5"]')) || ($(this).is('[class*="romance4"]')) ){
			$(this).addClass("romanceHigh");
		}
	});

	var $container = $('.grid'), $body = $('body'), colW = 30;

	$container.isotope({
	    // disable window resizing
	    //resizable: false,
	    masonry: {
	    	//columnWidth: 20,
	    	isFitWidth: true
	    }
	});

$container.on( 'arrangeComplete', function( event, filteredItems ) {
	var numberOfVenues = filteredItems.length;
	if (numberOfVenues>1){
		$('#totalVenues').empty();
		$('#totalVenues').append("We found " + numberOfVenues + " dating venues.");
  		console.log( filteredItems.length );
  	}
  	else if(numberOfVenues == 1){
  		$('#totalVenues').empty();
  		$('#totalVenues').append("We found " + numberOfVenues + " dating venue.");
  	}
  	else if(numberOfVenues == 0){
  		$('#totalVenues').empty();
  		$('#totalVenues').append("Oops, try to be a bit less specific.");
  	}
});	

			// layout Isotope after each image loads
	$container.imagesLoaded().progress( function() {
		$container.isotope('layout');
	});

	var $filterDisplay = $('#filter-display');

	var filters = {};

	$('#options').on('change', function(jQEvent) {

		var checkbox = jQEvent.target;
		var $checkbox = $(checkbox);
		var value = checkbox.value;
		var isAll = $checkbox.hasClass('all');

		var group = $checkbox.parents('.option-set').attr('data-group');
	    // create array for filter group, if not there yet
	    if (!filters[group]) {
	    	filters[group] = [];
	    }

	    var index = $.inArray(checkbox.value, filters[group]);

	    if (isAll) {
	    	delete filters[group];
	    	if (!checkbox.checked) {
	    		checkbox.checked = 'checked';
	    	}
	    }

	    if (checkbox.checked) {
	    	var selector = isAll ? 'input' : 'input.all';
	    	$checkbox.siblings(selector).removeAttr('checked');


	    	if (!isAll && index === -1) {
	            // add filter to group
	            filters[group].push(checkbox.value);
	        }

	    } else if (!isAll) {
	        // remove filter from group
	        filters[group].splice(index, 1);
	        // if unchecked the last box, check the all
	        if (!$checkbox.siblings('[checked]').length) {
	        	$checkbox.siblings('input.all').attr('checked', 'checked');
	        }
	    }

	    var i = 0;
	    var comboFilters = [];
	    var message = [];

	    for (var prop in filters) {
	    	message.push(filters[prop].join(' '));
	    	var filterGroup = filters[prop];
	        // skip to next filter group if it doesn't have any values
	        if (!filterGroup.length) {
	        	continue;
	        }
	        if (i === 0) {
	            // copy to new array
	            comboFilters = filterGroup.slice(0);
	        } else {
	        	var filterSelectors = [];
	            // copy to fresh array
	            var groupCombo = comboFilters.slice(0); // [ A, B ]
	            // merge filter Groups
	            for (var k = 0, len3 = filterGroup.length; k < len3; k++) {
	            	for (var j = 0, len2 = groupCombo.length; j < len2; j++) {
	                    filterSelectors.push(groupCombo[j] + filterGroup[k]); // [ 1, 2 ]
	                }

	            }
	            // apply filter selectors to combo filters for next group
	            comboFilters = filterSelectors
	        }
	        i++
	    }
	    $container.isotope({
	    	filter: comboFilters.join(', '),
	    });

	    $filterDisplay.text(comboFilters.join(', '));

	});
});

</script>
</head>
<body id="page-top" class="<%= controller_name %> <%= action_name %>">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=437371309793697";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <main role="main">
    <%= render 'layouts/messages' %>
  </main>

	<%= render 'layouts/navigation' %>
	<header>
		
		<div class="header-content">
			<div class="row">
				<div class="col-md-5 col-md-offset-7">
				<div class="jumbotron" style="background-color:white; opacity:0.9; margin-top:80px;">
<!-- 					<div class="header-content-inner">
 -->						<h2 style="color:#f05f40; font-weight:bold; font-size:36px;">FIND THE BEST DATING SPOTS IN LONDON</h2>
						<P class="text-left" style="padding:30px 30px 0px 30px; color:black;">We offer the best dating spots in London. <br><br><i>But not all content is featured here.</i>
						<BR><BR>
						We regular send out e-mails with exclusive events to our subscribers only. This will bring you the best one off events in London that will impress your dates even more.</P>
<!-- 					</div>	-->	
						<div class="row">
							<div id="headerEmail" class="col-md-8 col-md-offset-2" style="">
								<%= form_for Lead.new, remote: true do |f| %>
								<div class="form-group" style="margin-top:35px;">
									<%= f.email_field :email, placeholder: "EMAIL ADDRESS", :class => "form-control", :id => "email" %>
									<%= f.submit "Yes Please", :class => "btn btn-primary btn-lg btn-block" %>
								</div>
								<% end%>
								<div id="successMessage" class="text-center pull-left" style="color:#f05f40;"></div>
							</div>
						</div>

				</div><!--jumbotron-->
				</div><!--col lg-->
			</div><!--row-->
		</div>
		<div class="bottomAlign">
			<a href="#findadate" class="page-scroll"><i class="fa fa-chevron-down fa-3x" id="chevronMain" style="color:white;"></i></a>
		</div>

	</header>
	<div class="row" id="findadate">
		<div class="col-md-2 col-md-offset-5">
			<a href="https://www.producthunt.com/tech/where-to-take-your-date" target="_blank">
			<%=image_tag("ph-logo.jpg", id: "imgNot", height:"180", width: "180")%></a>
		</div>
	</div>
	<section class="bg-primary" id="">
		<main role="main">
			<%= render 'layouts/messages' %>
		</main>
		<div class="container-fluid">


			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div id="options" class="btn-toolbar">
					<p class="visible-xs text-left buttonHeader">Type of date</p>
						<div class="option-set btn-group" data-group="dateTime">
							<input type="checkbox" value=".firstdate" id="firstdate" class="noBox">
							<label for="firstdate" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<span class="visible-xs-inline">FIRST</span>
								<span class="hidden-xs">First date</span>
							</label>
							<input type="checkbox" value=".earlydays" id="earlydays" class="noBox">
							<label for="earlydays" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<span class="visible-xs-inline">EARLY</span>
								<span class="hidden-xs">Early days</span>
							</label>
							<input type="checkbox" value=".beendating" id="beendating" class="noBox">
							<label for="beendating" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<span class="visible-xs-inline">STEADY</span>
								<span class="hidden-xs">Relation</span>
							</label>
						</div><!--btn group-->
						<p class="visible-xs text-left buttonHeader" style="">Where in London do you want to go?</p>
						<div class="option-set btn-group" data-group="location">
							<input type="checkbox" value=".west" id="west" class="noBox">
							<label for="west" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
								<i class="fa fa-arrow-circle-left"></i>
								<span class="hidden-xs">West</span>
								<span class="visible-xs">W</span>
							</label>
							<input type="checkbox" value=".north" id="north" class="noBox">
							<label for="north" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
								<i class="fa fa-arrow-circle-up"></i>
								<span class="hidden-xs">North</span>
								<span class="visible-xs">N</span>
							</label>
							
							<input type="checkbox" value=".central" id="central" class="noBox">
							<label for="central" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
								<i class="fa fa-dot-circle-o"></i>
								<span class="hidden-xs">Central</span>
								<span class="visible-xs">C</span>
							</label>
							<input type="checkbox" value=".south" id="south" class="noBox">
							<label for="south" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
								<i class="fa fa-arrow-circle-down"></i>
								<span class="hidden-xs">South</span>
								<span class="visible-xs">S</span>
							</label>
							<input type="checkbox" value=".east" id="east" class="noBox">
							<label for="east" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
								<i class="fa fa-arrow-circle-right"></i>
								<span class="hidden-xs">East</span>
								<span class="visible-xs">E</span>
							</label>
							
						</div><!--btn group-->
						<p class="visible-xs text-left buttonHeader" style="">What is your budget?</p>

						<div class="option-set btn-group" data-group="datetype">

							<input type="checkbox" value=".price1" id="price1" class="noBox">
							<label for="price1" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false" id="priceTags">
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							</label>
							<input type="checkbox" value=".price2" id="price2" class="noBox">
							<label for="price2" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false" id="priceTags">
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							</label>
							<input type="checkbox" value=".price3" id="price3" class="noBox">
							<label for="price3" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false" id="priceTags">
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>								
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							</label>
							<input type="checkbox" value=".price4" id="price4" class="noBox">
							<label for="price4" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false" id="priceTags">
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>							
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							</label>

							<input type="checkbox" value=".price5" id="price5" class="noBox">
							<label for="price5" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false" id="priceTags">
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>								
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							<i class="fa fa-lg fa-gbp" id="gbp"></i>								
							<i class="fa fa-lg fa-gbp" id="gbp"></i>
							</label>
						</div><!--btn group-->

						<div class="option-set btn-group" data-group="dateromance">
							<input type="checkbox" value=".romanceHigh" id="romanceHigh" class="noBox">
							<label for="romanceHigh" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<i class="fa fa-heart" style="padding-right:5px;"></i><span class="">ROMANTIC</span>
							</label>
						</div>
						<div class="option-set btn-group" data-group="dateimpress">
							<input type="checkbox" value=".impressHigh" id="impressHigh" class="noBox">
							<label for="impressHigh" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<i class="fa fa-thumbs-up" style="padding-right:5px;"></i><span class="">IMPRESS</span>
							</label>
						</div>
						<div class="option-set btn-group" data-group="datechanceToTalkHigh">
							<input type="checkbox" value=".chanceToTalkHigh" id="chanceToTalkHigh" class="noBox">
							<label for="chanceToTalkHigh" aria-pressed="false" class="btn btn-primary outline center-block" role="button" aria-disabled="false">
							<i class="fa fa-volume-down" style="padding-right:5px;"></i><span class="">Chance to Talk</span>
							</label>
						</div><br>
						<p class="buttonHeader" id="totalVenues"style="color:#555555;"></p>

					</div><!--btn toolbar-->
				</div><!--col-md-10-->
			</div><!--row-->
			<div class="row" style="background-color:#f05f40; margin-bottom:20px;">
				<div class="col-md-4 col-md-offset-4">

					<%= form_for Lead.new, remote: true do |f| %>
					<div class="input-group" style="margin-top:35px;">
						<%= f.email_field :email, placeholder: "Get access to exclusive content", :class => "form-control", :id => "email", :style => "" %>
						<span class="input-group-btn">
							<%= f.submit "Yes Please", :class => "btn btn-primary outline" %>
						</span>
					</div>
					<% end%>
					<div id="successMessage" class="text-center pull-left" style="color:#f05f40;"></div><br><br>

				</div><!--col-->
			</div><!--row-->

		</div><!--container-->

		<%= render 'list' %>   
	</section>


	<div class='creater'>
	<div id="fbContainer">
		<div class="fb-like" data-href="https://www.facebook.com/wheretotakeyourdate/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
	</div>
<script src="//my.hellobar.com/cb4a13b9ace9cbe413a5d0b80137ee0a16d08d82.js" type="text/javascript" charset="utf-8" async="async"></script>