<meta property="og:url"                content="<%=request.original_url%>" />
<!-- <meta property="og:site_name"          content="Where To Take Your Date - London" />
 --><!-- <meta property="og:type"               content="website" />
 --><meta property="og:title"              content="<%=@place.name.titleize %>" />
<meta property="og:description"        content="<%=@place.descriptionGoogle%>" />
<meta property="og:image"              content="<%=@place.imageUrl%>" />
<meta property="fb:app_id"             content="437371309793697"> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<style media="screen" type="text/css">
        .fb_iframe_widget span 
        {
            vertical-align: baseline !important;
        }
        </style>
<script type="text/javascript">
  $(document).ready(function () {

    //http://citymapper.com/directions?endcoord=51.563612,-0.073299&endname=Abney%20Park%20Cemetery&endaddress=Stoke%20Newington%20High%20Street
    var baseUrl = 'http://citymapper.com/directions?endcoord=';
    var destinationCoordinates = '<%=@place.geo_latitude%>,<%=@place.geo_longitude%>';

    var destinationName = '<%=@place.name%>';
    destinationName = escape(destinationName.replace(/&#39;/g, ""));
    //destinationName = escape(destinationName);
    var destinationAddress = escape('<%=@place.address%>');
    var url = baseUrl + destinationCoordinates + '&endname=' + destinationName + '&endaddress=' + destinationAddress;

    $("#citymapper").attr("href", url);

    console.log(url);

    var facebook_url = 'http://www.facebook.com/sharer.php?url=' + encodeURIComponent('<%=request.original_url%>');

    $('#facebook-share').attr('href', facebook_url);
 
    $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });

    $('.priceDetailView').each(function(){
          var priceNumber = $(this).data("price")/20;
          for(var i = 0; i<priceNumber.toFixed();i++){
            $(this).append('<i class="fa fa-lg fa-gbp"></i>')
          }
      });

    var map;
    var detailsStored;
    var nearestTube;

    function initialize() {
      var london = new google.maps.LatLng(<%=@place.geo_latitude%>,<%=@place.geo_longitude%>);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: london,
        zoom: 15
      });

      var request = { placeId: '<%= @place.placeID %>' };
    //console.log(request)
    var service = new google.maps.places.PlacesService(map);

    service.nearbySearch({
      location: london,
      //radius: 500,
      types: ['subway_station'],
      rankBy: google.maps.places.RankBy.DISTANCE

  }, callback);

    service.getDetails(request, function(details, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        map.center = details.geometry.location
        var marker = new google.maps.Marker({
          map: map,
          position: details.geometry.location,
        });
      }
      var detailsStored = details;
      //console.log(detailsStored);

      var div = document.getElementById("place-details");
      var stringAdr = details.adr_address;
      stringAdr.replace(/\,/g,"");
      var stringAdrFormatted = stringAdr.replace(/\,/g,"");

      // var open = details.opening_hours

      var days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];

      if(details.opening_hours !== undefined){
        //console.log("beschikbaar");
        for(var i = 0; i < days.length; i++){
          $('#' + days[i]).append(details.opening_hours.weekday_text[i]);
        }
    }
    else{
        //console.log("niet beschikbaar");
        $('#monday').append('<p>Oops, we could not find the correct opening hours, please check their website for more info.</p>');
    }
    
    $('#phoneNumber').append(details.international_phone_number);
    $('#website').append('<a href="' + details.website + '" target="_blank"><%= @place.name.titleize%></a>');

    var photo = details.photos[0].getUrl({ 'maxWidth': 300  , 'maxHeight': 300 });

    $('#show-photo').css('background-image', 'url(' + photo + ')');
    
    for(var i = 0; i < details.photos.length; i++){
      var getPhoto = details.photos[i].getUrl({ 'maxWidth': 450 });

      $('#box-' + i).css('display', 'inline');
      $('#box-' + i).attr("src",getPhoto);
      $('#box-' + i).parent().show();

      if((details.photos[i].height/details.photos[i].width) > 1){
        $('#portfolio-box-' + i).addClass("portrait");
      } 
      else{
        $('#portfolio-box-' + i).addClass("landscape");
      }
    }
  });
  }

  function callback(results, status) {
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      nearestTube = results[0];
      //console.log(nearestTube)
      $("#nearestTube").text(nearestTube.name);
  }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  });

</script>
</head>
<body id="page-top" class="<%= controller_name %> <%= action_name %>">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=437371309793697";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <main role="main">
    <%= render 'layouts/messages' %>
  </main>

  <%= render 'layouts/navigation' %>

  <section class="bg-show" id="contact" style="">
    <div class="container">

      <div class="row">
        <div class="col-sm-8" > <!-- style="height:250px;"> -->
          <h1 style="font-weight:800; margin-top:50px;"><%= @place.name.titleize %></h1> 
        </div>
      </div><!--row-->
        
      <div class="row" id="place-details-row">
        <div class="col-sm-4 v-align">
          <h3>Score: <%=@place.rating%>/100</h3>
          <p><%=@place.descriptionGoogle%></p>
          <p>Price: <span class="priceDetailView" data-price="<%=@place.price%>"></span> </p><br>
          <a class="btn btn-primary outline" id="citymapper" target="_blank" style="">
            <%=image_tag("citymapper48.png", :class => "pull-left", :style => "margin-top:0px;")%>
           <p style="margin:0px;">Bring me there!</p>
          </a>
          <br>



          <a class="typeform-share btn btn-primary outline" href="https://plaksel.typeform.com/to/TbLN9Q" data-mode="1" target="_blank">Suggest edit</a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

        </div><!--col sm -->
        <div class="col-sm-4 v-align">
          <br>
          <h3>Ratings
          <a href="#" data-toggle="tooltip" title="These ratings come from our local experts and Google Places.
" style="color:white;"><i class="fa fa-question-circle" style="margin:0px; color:white;"></i></h3></a>
          <div class="tooltip top" role="tooltip">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
            These ratings come from our local experts and Google Places.
            </div>
          </div>
          <table>
            <tbody>
              <tr>
                <td> <h4>General impression:</td>
                <td> 
                <div class="backgroundBar">
                  <div class="bar" style="width:<%=@place.generalRating%>%;">
                    <span class="percentage"><%=@place.generalRating%>%
                    </span>
                  </div>
                </div>


                <!-- <div class='starrr' data-rating='<%=@place.generalRating%>'></h4> --></td>
              </tr>
              <tr>
                <td> <h4>Romance:</td>
                <td> 
                <div class="backgroundBar">
                  <div class="bar" style="width:<%=@place.romance%>%;">
                    <span class="percentage"><%=@place.romance%>%
                    </span>
                  </div>
                </div>

                <!-- <div class='starrr' data-rating='<%=@place.romance%>'></h4> --></td>
              </tr>
              <tr>
                <td> <h4>Date's impressed:</td>
                <td style="white-space: nowrap;">
                <div class="backgroundBar">
                  <div class="bar" style="width:<%=@place.impressed%>%;">
                    <span class="percentage"><%=@place.impressed%>%
                    </span>
                  </div>
                </div>

                <!-- <div class='starrr' data-rating='<%=@place.impressed%>'></h4> --></td>
              </tr>
              <tr>
                <td> <h4>Chance to talk:</td>
                <td>
                <div class="backgroundBar">
                  <div class="bar" style="width:<%=@place.changeToTalk%>%;">
                    <span class="percentage"><%=@place.changeToTalk%>%
                    </span>
                  </div>
                </div>

                <!-- <div class='starrr' data-rating='<%=@place.changeToTalk%>'></h4> --></td>
              </tr>
              <tr>
                <td> <h4>Activity level:</td>
                <td>
                <div class="backgroundBar">
                  <div class="bar" style="width:<%=@place.activityLevel%>%;">
                    <span class="percentage"><%=@place.activityLevel%>%
                    </span>
                  </div>
                </div>

                <!-- <div class='starrr' data-rating='<%=@place.activityLevel%>'></h4> --></td>
              </tr>
              <tr>
                <td> <h4>Nearest tube:</td>
                <td id=""><span id="nearestTube" style="margin-left:10px;"></span></h4></td>
            </tbody>
          </table><br>
         
        </div><!--col md 5-->
        <div class="col-sm-3 v-align">
          <br>
            <div class="row" style="">
              <div class="col-sm-12 text-center" style="">
                    <span class="fa-stack" style="font-size:24px;">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa-lightbulb-o fa-stack-1x"></i>
                    </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center" style="">
                <p style="margin-bottom:0px; word-wrap: break-word;">" <%=@place.comments%> "</p>
              </div>
            </div>
        </div><!--col md 4-->

      </div><!--row-->
    </div><!--container-->
  </section>

  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter" id="places-photos">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-2" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-2" style="display:none;">
          </a>
       </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-0" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-0" style="display:none;">
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-3" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-3" style="display:none;">
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-4" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-4" style="display:none;">
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-1" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-1" style="display:none;">
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="portfolio-box main" id="portfolio-box-5" style="display:none;">
            <img src="" class="img-responsive absolute" alt="" id="box-5" style="display:none;">

          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Details</h2>
          <hr class="primary">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset">
          <div id="map-canvas"></div>
        </div>
        <div class="col-md-4">
            <h4><%= @place.name.titleize%></h4><br>
            <div id="address"><span class="glyphicon glyphicon-map-marker" style="padding-right:26px;"></span><%=@place.address%> <br>
              <span style="padding-left:40px;"><%=@place.postcode%></span><br>
            <span style="padding-left:40px;">London</span>
            </div><br>
            <div id="phoneNumber"><span class="glyphicon glyphicon-phone-alt" style="padding-right:26px;"></span></div>
            <div id="website"><span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true" style="padding-right:26px;"></span></div>

        </div><!-- col md 4-->
        <div class="col-md-4">
          <h4>Opening hours</h4><br>
          
          <div id="sunday"></div>
          <div id="monday"></div>
          <div id="tuesday"></div>
          <div id="wednesday"></div>
          <div id="thursday"></div>
          <div id="friday"></div>
          <div id="saturday"></div>
        </div><!--col md 4 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>
    <div class='creater'>
    <div class="fb-share-button" data-href="<%=request.original_url%>" data-layout="button"></div>

    <a href="<%=request.original_url%>" class="twitter-share-button"{count} data-via="WTTYD" data-hashtags="london" style="margin-top:10px;">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

