<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title><%= content_for?(:title) ? yield(:title) : "Where To Take Your Date - London" %></title>
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "You finally got your date sorted, but you don't know where to go? Where to take your date brings you the best dating spots in London!" %>">
	<script type="text/javascript" src="//cdn.bounce.bar/115220.js"></script>
	<script src="https://cdn.optimizely.com/js/5373461882.js"></script>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application'%>
	<%= csrf_meta_tags %>
	<link rel="image_src" href="<%=image_path("social-img.jpg")%>" />
	<meta name="google-site-verification" content="ZWgmehue9VtV3KE9IkF2SACjcEpBZoQNXzjzEFrh4Qg" />
	<%= favicon_link_tag 'favicon-02.ico' %>
	<%= yield %>

</body>
</html>
